server:
  port: ${PORT}

eureka:
  client:
    serviceUrl:
      defaultZone: http://${HOST_EUREKA}:8761/eureka

resilience4j:
  retry:
    instances:
      venda:
        max-attempts: 5
        wait-duration: 1s

spring:
  application:
    name: estoque-server
  datasource:
    url: jdbc:postgresql://${DATA_BASE}:${PORT_DB}/estoque_server
    username: postgres
    password: postgres

  flyway:
    url: jdbc:postgresql://${DATA_BASE}:${PORT_DB}/estoque_server
    schemas: estoque
    user: postgres
    password: postgres
    enabled: true

  sql:
    init:
      mode: always
      encoding: utf-8
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false

  cache:
    type: redis